<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue JS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <style>
    .one{
      color: burlywood;
    }
    .two{
      text-decoration-line: underline;
    }
    .canvas{
      width: 300px;
      height: 300px;
      margin-top:20px;
      background: darkgoldenrod;
    }
    </style>
</head>
<body>
  <h1>Looping</h1>
  <div id="looping">
    <h2>{{title}}</h2>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
    <div v-for="(ninja, index) in ninjas">
      <p>Name: {{index}} - {{ninja.name}}</p>
      <p>Age: {{ninja.age}}</p>
      <p>Belt: {{ninja.belt}}</p>
    </div>

  </div>
  <hr>
  <h1>Conditionals</h1>
    <div id="sample">
      <p v-if="showName">Luigi</p>
       <button @click="toggleName">Toggle Luigi {{showName}}</button>
       <p v-if="showAge">30</p>
       <button @click="toggleAge">Show Luigi's Age {{showAge}}</button>

    </div>
<hr>
  <h1>Vue Basics</h1>
  <div id="app">
    <h2>
      {{ title }}
    </h2>
    <p>My Name is {{name}}</p>
    <p>I have a {{pet}} for a pet.</p>
    <input type="text" v-model="pet">
    
    <p>{{greet("evening")}}</p>
    <input type="text" @keyup="updateName">

    <a v-bind:href="url">Click here for YouTube</a>
    <div v-bind:class="classes">Classes from instance</div>
    <input type="text" v-bind:value="name">
    <p>I earn {{wage}} gold pieces per hour.</p>
    <button v-on:click="wageIncrease()">Increase wage</button>
    <button v-on:click=wageDecrease()>Decrease wage</button>
    <button v-on:click=changeWage(5)>Increase by 5</button>
    <button @click="logEvent">Log Event Info</button>
    <div class="canvas" @mousemove="logCoords">{{coords.x}}, {{coords.y}}</div>
  </div>
  <script src="app.js"></script>
  <script src="sample.js"></script>
  <script src="looping.js"></script>
</body>
</html>